@use '../../styles/vars.scss';

.About {
  color: vars.$text-color;
  width: 100%;
  min-height: 100dvh;
  padding: 0 1.5rem;
  display: grid;
  align-items: center;

  @media (width <= 768px) {
    margin-top: 4rem;
  }

  &-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &-header {
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      text-align: center;
    }

    &-title {
      font-size: vars.$title-size;
      line-height: vars.$title-line-height;
      font-weight: vars.$title-weight;
      display: inline;
      border-bottom: 4px solid vars.$pink;
    }
  }

  &-content {
    max-width: 1000px;
    width: 100%;
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-details {
      margin: auto;
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: 700;

      @media (min-width: 768px) {
        text-align: right;
      }
    }

    &-pres {
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}
